/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url("reset.css");
/* Import style sheets, hiding from IE/Mac \*/
/* End of import hide */
/* GERAL */
body {
  background-color: #DDDBDC;
  font-family: Verdana;
  color: #052a4d;
}
body .centraliza {
  width: 1000px;
  margin: 0 auto;
}
body a,
body a:active,
body a:visited {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  color: inherit;
  text-decoration: underline;
}
body .separator {
  clear: both;
}
/* HEADER */
#header {
  height: 271px;
  background: url(../images/bg_header.jpg) top center;
  border-bottom: 7px solid #adafb2;
}
#header #logo {
  margin: 40px 0 0 20px;
}
#header #agora {
  margin-left: 425px;
}
#header #menu {
  margin-top: 41px;
  width: 1003px;
  height: 36px;
  background: url(../images/bg_menu_top.png) top no-repeat;
}
#header #menu ul {
  list-style: none;
  margin-left: 118px;
}
#header #menu ul li {
  float: left;
  margin: 10px 5px 0 0;
  color: #042f57;
  font-size: 16px;
}
/* FOOTER */
#footer {
  height: 202px;
  background: url(../images/bg_footer.jpg) center;
}
#footer ul {
  list-style: none;
  width: 705px;
}
#footer ul li {
  float: left;
  margin: 18px 8px 0 0;
  color: #042f57;
}
#footer #texto {
  float: left;
  margin: 56px 0 0 28px;
  font-size: 12px;
  color: white;
}
#footer #redes {
  float: left;
  margin: 70px 0 0 72px;
}
#footer #talento {
  float: right;
  margin: 68px 20px 0 0;
}
/*SLIDER*/
#slider_area {
  background-color: #d2d0d0;
  height: 368px;
}
#slider_area img {
  position: absolute;
}
#slider_area #sl {
  width: 900px;
  padding-top: 14px;
}
/*COTAÇÃO*/
#cotacao ul {
  list-style: none;
}
#cotacao ul li {
  float: left;
  margin-right: 20px;
}
/* CONTEUDO */
#content {
  background: url(../images/bg_content.jpg) center repeat-y;
}
#content .pg {
  float: left;
  margin: 27px 0 27px 23px;
  background-color: #c2c0c0;
  width: 945px;
}
#content .nav {
  float: left;
  width: 277px;
  position: relative;
}
#content .nav #tit_nav {
  height: 32px;
  padding-top: 6px;
  background-color: #adafb2;
  text-align: center;
  font-weight: bold;
  color: #023d77;
  font-size: 12px;
}
#content .nav #tit_nav span {
  color: white;
  text-transform: uppercase;
}
#content .nav ul {
  list-style: none;
  background-color: #012445;
}
#content .nav ul li {
  background-color: #032648;
  margin-bottom: 2px;
}
#content .nav ul li.atual {
  background-color: #013061;
}
#content .nav #sponsor {
  margin: -3px 0;
}
#content .nav #icon_s {
  position: absolute;
  bottom: 0;
  right: -22px;
  z-index: 2;
}
#content .conteudo {
  float: left;
  width: 666px;
}
#content .conteudo #title_c {
  width: 613px;
  padding: 8px 0 0 54px;
  height: 30px;
  background-color: #023261;
}
#content .conteudo .texto {
  margin: 20px;
  width: 630px;
  font-size: 14px;
}
#content .conteudo .texto p {
  padding-bottom: 10px;
}
#content .texto a {
  color: dodgerBlue;
}
#content #home {
  position: relative;
  height: 428px;
  font-size: 15px;
}
#content #home #calendario {
  position: absolute;
  top: 14px;
  left: 40px;
  width: 217px;
  height: 263px;
  background: url(../images/bg_calendario.png) no-repeat top left;
}
#content #home #calendario ul {
  list-style: none;
  padding: 95px  9px 5px 9px;
}
#content #home #calendario ul li {
  margin-bottom: 5px;
}
#content #home #calendario center {
  color: white;
  font-weight: bold;
}
#content #home #abracont {
  position: absolute;
  top: 287px;
  left: 40px;
}
#content #home #noticias {
  position: absolute;
  top: 17px;
  left: 273px;
  width: 440px;
  height: 191px;
  background: url(../images/bg_noticias.png) no-repeat top left;
  font-size: 15px;
}
#content #home #noticias ul {
  list-style: none;
  padding: 44px 10px 5px 10px;
}
#content #home #noticias ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #052a4d;
}
#content #home #noticias ul li a {
  font-weight: bold;
}
#content #home #chat {
  position: absolute;
  top: 217px;
  left: 280px;
}
#content #home #p_title {
  position: absolute;
  top: 251px;
  left: 510px;
}
#content #home #parceiros {
  position: absolute;
  top: 287px;
  left: 497px;
  width: 452px;
  height: 121px;
  background: url(../images/bg_parceiros.png) no-repeat top left;
}
#content #home #parceiros img {
  float: left;
  margin-left: 100px;
  margin-top: 15px;
}
#content #home #cotacao {
  position: absolute;
  top: 17px;
  left: 721px;
  width: 215px;
  height: 213px;
  padding-top: 50px;
  background: url(../images/cadastre_bk.png) no-repeat;
  text-align: center;
}
#content #falecon #title {
  margin-top: 6px;
  width: 100%;
  background-color: #023261;
}
#content #falecon #title img {
  padding: 10px 35px;
}
#content #falecon #conteudo {
  padding: 46px 0 0 51px;
}
#content #falecon #conteudo form {
  margin-top: 20px;
  width: 394px;
  height: 598px;
  background: url(../images/falecon/bg_form.jpg) top left no-repeat;
}
#content #falecon #conteudo form input[type=text] {
  padding: 0 5px;
  width: 383px;
  height: 33px;
  border: none;
  background: none;
  outline: none;
}
#content #falecon #conteudo form textarea {
  margin-top: 55px;
  padding: 5px 5px;
  width: 383px;
  border: none;
  background: none;
  outline: none;
}
#content #falecon #conteudo form #nome {
  margin-top: 36px;
}
#content #falecon #conteudo form #email {
  margin-top: 60px;
}
#content #falecon #conteudo form #cidade {
  margin-top: 58px;
}
#content #analise #icon_s {
  right: -69px;
}
#content #quems .texto {
  height: 563px;
}
#content #invest .texto {
  height: 660px;
}
#content #analise .texto {
  height: 660px;
}
#content #noticias #title {
  margin-top: 6px;
  width: 100%;
  background-color: #023261;
}
#content #noticias #title img {
  padding: 10px 35px;
}
#content #noticias #conteudo {
  padding: 26px 0 0 17px;
  color: #023261;
}
#content #noticias #conteudo ul#indice {
  float: left;
  padding-bottom: 10px;
  list-style: none;
  width: 258px;
}
#content #noticias #conteudo ul#indice li {
  padding: 10px;
  border-bottom: 1px solid #023261;
}
#content #noticias #conteudo ul#indice li span {
  font-size: 20px;
  text-transform: uppercase;
}
#content #noticias #conteudo ul#indice li:hover {
  color: #C2C0C0;
  background-color: #023261;
}
#content #noticias #conteudo #noticia {
  float: left;
  margin-left: 30px;
  padding-bottom: 30px;
}
#content #noticias #conteudo #noticia #data {
  padding: 22px 44px;
  width: 136px;
  background-color: #023261;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
}
#content #noticias #conteudo #noticia #texto {
  height: 580px;
  width: 596px;
  padding: 40px 0 20px 30px;
  background-color: #A0A0A0;
}
#content #noticias #conteudo #noticia #texto img {
  max-width: 100%;
}
#content #noticias #conteudo #noticia #texto #scroll {
  width: 582px;
  height: 550px;
  overflow: hidden;
}
#content #noticias #conteudo #noticia #texto fieldset {
  border: 1px solid #023261;
  padding: 20px;
}
#content #noticias #conteudo #noticia #texto fieldset input[type=text] {
  width: 300px;
}
#content #noticias #conteudo #noticia #texto #titulo {
  font-weight: bold;
  font-size: 18px;
}
#content #noticias #conteudo #noticia #texto p {
  margin-bottom: 20px;
}
#content #trabcon #title {
  margin-top: 6px;
  width: 100%;
  background-color: #023261;
}
#content #trabcon #title img {
  padding: 10px 35px;
}
#content #trabcon #conteudo {
  padding: 46px 0 0 51px;
}
#content #trabcon #conteudo form {
  margin-top: 20px;
  width: 394px;
  height: 598px;
  background: url(../images/trabcon/bg_form.png) top left no-repeat;
}
#content #trabcon #conteudo form input[type=text] {
  padding: 0 5px;
  width: 383px;
  height: 33px;
  border: none;
  background: none;
  outline: none;
}
#content #trabcon #conteudo form #nome {
  margin-top: 36px;
}
#content #trabcon #conteudo form #email {
  margin-top: 60px;
}
#content #trabcon #conteudo form #anexo {
  display: none;
}
#content #trabcon #conteudo form #arq {
  margin-top: 42px;
  width: 300px;
}
#content #trabcon #conteudo form .anexo_bt {
  float: right;
  margin-top: 47px;
}
